*
!*.*
!*/
*.exe
*.o

!makefile

hw1/file_reverse/testcase
hw1/file_reverse/in/
hw1/file_reverse/out/
hw1/the_rani/examples/
hw1/the_rani/in/
hw1/the_rani/out/
hw1/the_rani/out.txt

hw2/examples/
hw2/input/
hw2/out.txt
hw2/output/

hw3/tests/

hw4/input/
hw4/output/

hw5/examples
